<!-- View Contact modal to show the view-->
<div class="modal" id="viewContactModal" *ngIf = "displayModal()!=0">
  <div class="modal-content">
    <div class="modal-header"> 

      <label class="viewcontact" id="first" >{{contactCard.FirstName}}</label>&nbsp;&nbsp;
      <label class="viewcontact" id="last" >{{contactCard.LastName}}</label>
    </div>
    <div class="modal-body">
      <br>
      <label>Contact:</label><label class="viewcontact" id="phoneNo" >{{contactCard.PhoneNumber}}</label><br><br>
      <label>Email-Address:</label><label class="viewcontact" id="addr" >{{contactCard.EmailId}}</label><br><br>

    </div>
    <input class="pull-right" type="button" id="cancel" value="Close" (click)="hideModal()">
    
  </div>