 <!-- The Modal -->
 <!-- In-->
 <!-- <div id="addContactModal" class="modal" [ngStyle]="{'display': displayModal()?'block':'none'}"> -->
 <div id="addContactModal" class="modal" *ngIf = "displayModal()">
  <div class="modal-content">
      <div class="modal-header">
        <h2>Create a new Contact</h2>
        <!-- <span>Create a new Contact <span><button class="pull-right add-icon" id="close">close</button>  -->
      </div>
      <div class="modal-body" id="modal-body">
        <form>
          <div class="left">
              <label>First Name : </label>
              <input class="addcontact" id="first_name" type="text"><br><br>
              <label>Contact No : </label> 
              <input class="addcontact" id="phonenumber" type="text"><br><br>
          </div>
          <div class="right">
              <label>Last Name : </label>
              <input class="addcontact" id="last_name" type="text"><br><br>
          </div>
          <div>
              <label>EmailId: </label>
              <input class="addcontact" id="emailID" type="email" size="30"><br><br>
              <input type="button" id="submit" value="Submit">&nbsp;&nbsp;
              <input class = "pull-right" type="button" id="cancel" value="Cancel" (click)="hideModal()">
          </div>
          
        </form>
      </div>
    </div>
</div>