<div id="main">          
  <div class="element custom">      
    <div class="element-header">
      <h2> Contacts</h2>
      <button class="pull-right add-icon" id="addContact">New Contact</button>  
    </div>
    <div class="element-content" id="element-content">
      <ul class="list" id="list">
      </ul>
      <div class="element-sidebar">
        <a href="#">#</a>
        <a href="#A1">A</a>
        <a href="#B1">B</a>
        <a href="#C1">C</a>
        <a href="#D1">D</a>
        <a href="#E1">E</a>
        <a href="#F1">F</a>
        <a href="#G1">G</a>
        <a href="#H1">H</a>
        <a href="#I1">I</a>
        <a href="#J1">J</a>
        <a href="#K1">K</a>
        <a href="#L1">L</a>
        <a href="#M1">M</a>
        <a href="#N1">N</a>
        <a href="#O1">O</a>
        <a href="#P1">P</a>
        <a href="#Q1">Q</a>
        <a href="#R1">R</a>
        <a href="#S1">S</a>
        <a href="#T1">T</a>
        <a href="#U1">U</a>
        <a href="#V1">V</a>
        <a href="#W1">W</a>
        <a href="#X1">X</a>
        <a href="#Y1">Y</a>
        <a href="#Z1">Z</a>
      </div>
    </div>
  </div>
</div>